# Auto detect text files and perform LF normalization
* text=auto
# Ignore standard library folders from language statistics
Scripts/* linguist-vendored
Content/* linguist-vendored
obj/* linguist-vendored
bin/* linguist-vendored
